<md-sidenav-container>
    <md-sidenav #sidenav class="sidenav">
        <nav-menu></nav-menu>
    </md-sidenav>
    <div class="my-content">
        <md-toolbar [color]="primary">
            <button md-icon-button (click)="sidenav.open()">
                <md-icon>menu</md-icon>
            </button>
            <span>Task-Manian</span>
            <span class="fill-remaining-space"></span>
            <span>tm</span>
        </md-toolbar>
        <router-outlet></router-outlet>
    </div>
</md-sidenav-container>