<h1 md-dialog-title>Create Board</h1>
<div md-dialog-content>

   <form [formGroup]="boardForm">
    <table class="example-full-width" cellspacing="0"><tr>
      <td><md-input-container class="example-full-width">
        <input mdInput placeholder="Title" formControlName="Title">
      </md-input-container></td>
    </tr></table>
  </form> 

<div md-dialog-actions>
  <button md-button (click)="onCloseConfirm(boardForm.value)">Save</button>
  <button md-button [md-dialog-close]>Close</button>
</div>