<md-card>
  <md-card-title>Your Effing Boards</md-card-title>
  <md-card-content class="flex-container" 
      fxLayoutWrap="wrap"
      fxLayout="row"
      fxLayoutAlign="center" fxLayoutAlign.xs="start">    

  <md-card *ngFor="let board of boards" class="flex-item question-card">
    <md-card-header>
      <md-card-title>
        <span>
          Test category
        </span>
      </md-card-title>
      <md-card-subtitle>
        The quick brown fox
      </md-card-subtitle>
    </md-card-header>
    <md-card-content>
      <md-list dense> 
        <md-list-item>
          answer sample<md-icon md-list-icon>check</md-icon>
        </md-list-item>
      </md-list>

      <md-chip-list>
        <md-chip>
          sample tag
        </md-chip>
      </md-chip-list>
    </md-card-content>
  </md-card>
  </md-card-content>    
</md-card>