<h1>Le Boards</h1>
<style type="text/css">
    p{
        padding: 50px;
        font-size: 32px;
        font-weight: bold;
        text-align: center;
        background: #dbdfe5;
    }
    .add-board{
        background: #95bcf9;
    }
    .no-margin-bottom{
        margin-bottom: 0px;
    }
    
</style>

<div class="container">
    <div class="row">
        <div *ngFor="let board of boards; let i = index">
        <div class="clearfix" *ngIf="i % 3 == 0"></div>
        <div class="col-md-4">
            <a>
                <p #p="ngbPopover" [ngbPopover]="popContent" [ngClass]="{'add-board': board.Id===0}">{{board.Title}}</p>
            </a>
        </div>
        </div>
    </div>
</div>

<ng-template #popContent>
    <div class="panel panel-primary no-margin-bottom">
      <div class="panel-heading">Add New Board</div>
      <div class="panel-body">
        <form [formGroup]="boardForm" novalidate (ngSubmit)="AddBoard(boardForm.value, boardForm.valid)">

            <div class="form-group">
                <label for="Title">Title</label>
                <input type="text" class="form-control" formControlName="Title">
                <small [hidden]="boardForm.controls.Title.valid || (boardForm.controls.Title.pristine && !submitted)">
                    Title is required (minimum 5 characters).
                </small>
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>

        </form>
      </div>
    </div>
</ng-template>
